body {
    background-color: #f9f9f9;  /* fondo suave */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ba6648;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

/* Input y botón de búsqueda */
#input-buscar {
    width: 300px;
    padding: 10px;
    margin: 20px 10px 20px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#btn-buscar {
    width: 150px;
    height: 50px;
    display: inline-block;       /* inline-block para mantener tamaño */
    background-color: rgb(19, 112, 206);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-buscar:hover {
    background-color: darkorange;
}

/* Contenedor de la lista */
#app {
    width: 80%;
    max-width: 600px;
}

#lista-productos {
    list-style-type: none;  /* quita los bullets */
    padding: 0;
}

#lista-productos li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Si quieres un botón dentro de cada producto */
#lista-productos li button {
    background-color: #0cdf4b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#lista-productos li button:hover {
    background-color: darkred;
}